<div class="scrollPane">
{{#addresses}}
<label>
  <span class="row collapse">
    <span class="columns small-1">
      <input type="radio" value="{{index}}" name="postfinder">
    </span>
    <span class="columns small-11">
      <span class="row uncollapse">
				<span class="medium-6 small-12 columns">
					<strong>{{type}} {{number}}</strong><br>
					{{street}} {{houseNo}}<br>
					{{zip}} {{city}}<br><br>
				</span>
				<span class="medium-6 small-12 columns">
					<strong>{{distance}} {{dimension}}</strong><br>
					{{remark}}<br><br>
				</span>
			</span>
    </span>
  </span>
</label>
{{/addresses}}
</div>
