<div class="reveal-modal medium {{cssClass}}" data-reveal aria-labelledby="modalTitle{{uid}}" aria-hidden="true" role="dialog">
    {{#title}}
    <h2 id="modalTitle{{uid}}">{{{title}}}</h2>
    {{/title}}

    {{{content}}}

    {{#labelConfirm}}
    <button type="button" class="button right" data-dismiss="modal" data-plenty-modal="confirm">{{labelConfirm}}</button>
    {{/labelConfirm}}
    {{#labelDismiss}}
    <button type="button" class="button info" data-dismiss="modal">{{labelDismiss}}</button>
    {{/labelDismiss}}
    <a class="close-reveal-modal" aria-label="{{#translate}}Close{{/translate}}">&#215;</a>
</div>
